<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <title>fromis_9 Fancafe</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">fromis_9 Fancafe</a>
    <ul class="nav navbar-nav w-100">
      <li class="text-truncate w-100">
        <form class="input-group" method="POST">
          <input class="form-control" type="search" name="keyword" autocomplete="off" placeholder="Keyword... (example: Nakyung)" autofocus>
          <div class="input-group-btn">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </div>
        </form>
      </li>
    </ul>
  </nav>

  <div class="container mt-4">
    <div class="card-columns">
      {{range .Posts}}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{.Title}}</h5>
          <p class="card-text">{{.Content}}</p>
        </div>
      </div>
      {{end}}
    </div>
  </div>

</body>

</html>